<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
        <body>
        <h1>Add New User</h1>
        <form th:action="@{/add}" th:object="${user}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required>
            <br>
            <label for="surname">Surname:</label>
            <input type="text" id="surname" th:field="*{surname}" required>
            <br>
            <label for="age">Age:</label>
            <input type="text" id="age" th:field="*{age}" required>
            <br>
            <label for="benchPressWeight">Bench Press Weight:</label>
            <input type="text" id="benchPressWeight" th:field="*{benchPressWeight}" required>
            <br>
            <button type="submit" class="add-user-btn">Add User</button>
        </form>
        <div class="centered-button-container">
            <a href="/" class="centered-button">Back to User List</a>
        </div>
    </body>
</html>
