<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Users List</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Bench Press Weight</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.benchPressWeight}"></td>
            <td>
                <a th:href="@{/edit/{id}(id=${user.id})}">
                    <button class="edit">Edit</button>
                </a>
                <a th:href="@{/delete/{id}(id=${user.id})}">
                    <button class="delete">Delete</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="centered-button-container">
        <a href="/add" class="centered-button">Add New User</a>
    </div>
</body>
</html>
